<form #loginForm="ngForm" (ngSubmit)="Login(loginForm.value)" class="card card-default">
     <div class="card-header">Sign in</div>
     <div class="card-body">
          <input type="text" ngModel name="username" required placeholder=" user name" class="form-control mb-4">
          <input type="password" ngModel name="password" placeholder=" password" class="form-control mb-4">
     </div>
     <div class="card-footer">
          <button block="true" class="m-2 btn btn-primary">Login</button>
     </div>

     <div *ngIf="!isValid">
          Wrong user name or password .
     </div>

     <div *ngIf="!isActive">
          Account not activated .
     </div>

</form>