<div class="row mt-4">
     <div class="col-lg-3 col-md-3 col-sm-3 col-12"><div class="city-block">Delhi</div></div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-12"><div class="city-block">Agara</div></div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-12"><div class="city-block">Kanpur  </div> </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-12"><div class="city-block">Noida   </div> </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-12"><div class="city-block">Pune    </div> </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-12"><div class="city-block">Nagpur  </div> </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-12"><div class="city-block">Banglore</div> </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-12"><div class="city-block">Kolkata</div> </div>
</div>
